<div class="panel-heading" style="font-family:Oswald , serif;"  ng-include="'js/system/header.html'"></div>
<div class="panel-body">
    <form name="outerForm" class="form-horizontal" ng-show="result == null">

        <div id="id-group" class="form-group">
            <label class="col-sm-2 control-label" for="id">Identificador:</label>
            <div class="control col-sm-3">
                <input ng-model="obj.id" type="text" id="id" class="form-control" name="id" size="15" placeholder="id" disabled="disabled">
            </div>
        </div>


        <div id="nombre-group" class="form-group">
            <label class="col-sm-2 control-label" for="nombre">Nombre:</label>
            <div class="control col-sm-8">
                <input ng-model="obj.nombre" required type="text" id="nombre" 
                       class="form-control" name="nombre" size="15" placeholder="nombre"
                       ng-class="{error:!outerForm.$pristine && outerForm.titulo.$error.required}">
            </div>
            <span ng-show="!outerForm.$pristine && outerForm.nombre.$error.required">El campo nombre es obligatorio</span>
        </div>



        
        
        
        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="obj_provincia">provincia:</label>
            <div class="control col-sm-3">
                <div class="input-group foreign" id="obj_provincia_group">
                    <span class="input-group-addon" id="obj_provincia_button">
                        <span class="glyphicon glyphicon-search" ng-click="chooseOne('provincia')">
                        </span>
                    </span>
                    <input ng-model="obj.obj_provincia.id" readonly="true" aria-describedby="basic-addon2" class="form-control" id="obj_provincia" name="obj_provincia" type="text" size="5" maxlength="5">
                    <span class="input-group-addon">
                        <a href="#/provincia/view/{{obj.obj_provincia.id}}">
                            <span>{{obj.obj_provincia.nombre}}</span>     
                        </a>     
                    </span>
                </div>
            </div>            
        </div>
            
        
         <div class="form-group">
            <label class="col-sm-2 control-label" for="obj_comarca">comarca:</label>
            <div class="control col-sm-3">
                <div class="input-group foreign" id="obj_comarca_group">
                    <span class="input-group-addon" id="obj_comarca_button">
                        <span class="glyphicon glyphicon-search" ng-click="chooseOne('comarca')">
                        </span>
                    </span>
                    <input ng-model="obj.obj_comarca.id" readonly="true" aria-describedby="basic-addon2" class="form-control" id="obj_comarca" name="obj_comarca" type="text" size="5" maxlength="5">
                                        <span class="input-group-addon">
                        <a href="#/comarca/view/{{obj.obj_comarca.id}}">
                            <span>{{obj.obj_comarca.nombre}}</span>     
                        </a>     
                    </span>
                </div>
            </div>            
        </div>

   




        <div class="control-group text-right">
            <div class="controls">
                <a class="btn btn-primary" ng-click="save()" ng-disabled="!outerForm.$valid">Guardar</a>
                <a class="btn btn-default" ng-click="plist()">Ir al listado de comarcas</a>
                <a class="btn btn-default" ng-click="close()">Cerrar</a>
            </div>
        </div>
    </form>
    <div ng-show="result != null">    
        <div class="alert alert-success" ng-show="result.status == 200">
            <h2>Se ha modificado el registro</h2>
            <a ng-href="#/municipio/view/{{id}}">Ver el registro modificado</a>
        </div>
        <div class="alert alert-danger" ng-show="result.status != 200">
            <h2>Error al modificar la empresa: no se ha modificado la empresa</h2>
            <h3>Código: {{result.status}}</h3>
            <h3>Mensaje: {{result.message}}</h3>             
        </div>
    </div>
</div>
<div class="panel-footer" style="font-family: Questrial, serif;" ng-include="'js/system/footer.html'"></div>
