
-->
<div class="panel-heading" style="font-family:Oswald , serif;"  ng-include="'js/system/header.html'"></div>
<div class="panel-body">
    <form name="outerForm" class="form-horizontal" ng-show="result == null">

        <div id="id-group" class="form-group">
            <label class="col-sm-2 control-label" for="id">Identificador:</label>
            <div class="control col-sm-3">
                <input ng-model="obj.id" type="text" id="id" class="form-control" name="id" size="15" placeholder="id" disabled="disabled">
            </div>
        </div>


          <div id="tipocuota-group" class="form-group"
             ng-class="{'has-error': (outerForm.tipocuota.$error.required || outerForm.tipocuota.$error.minlength) || outerForm.tipocuota.$error.pattern && !outerForm.tipocuota.$pristine}">
            <label class="col-sm-2 control-label" for="tipocuota">Tipocuota:</label>
            <div class="control col-sm-8">
                <input ng-model="obj.tipocuota"  
                       type="text" 
                       id="tipocuota" 
                       class="form-control" 
                       name="tipocuota" 
                       size="15" 
                       ng-pattern="/^[a-zA-Z ñáéíóú]*$/" 
                       placeholder="tipocuota" 
                       minlength="3"                       
                       maxlength="200"
                       required>            
            <span ng-show="!outerForm.$pristine && outerForm.tipocuota.$error.required">El campo tipocuota es obligatorio</span>
            <span class="help-block" ng-show="!outerForm.tipocuota.$pristine && outerForm.tipocuota.$error.pattern">El campo tipocuota no puede tener ningún valor numérico</span>
            <span class="help-block" ng-show="!outerForm.tipocuota.$pristine && outerForm.tipocuota.$error.minlength">El campo tipocuota debe tener al menos 3 caracteres</span>
            <span class="help-block" ng-show="!outerForm.tipocuota.$pristine && outerForm.tipocuota.$error.maxlength">El campo tipocuota debe tener como máximo 200 caracteres</span>
        </div>
        </div>
        
         <div id="importe-group" class="form-group"        
             ng-class="{'has-error': (outerForm.importe.$error.required
                                 || outerForm.importe.$error.numbersOnly)
                                 || outerForm.importe.$error.pattern                        
                                 && !outerForm.importe.$pristine}">
            <label class="col-sm-2 control-label" for="importe">Importe:</label>
            <div class="control col-sm-3">
                <input type="text" 
                       ng-model="obj.importe"                     
                       id="importe" 
                       class="form-control" 
                       name="importe" 
                       size="5" 
                       placeholder="importe"
                       ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/"
                       numbersOnly
                       minlength="2"
                       maxlength="5"
                       required>
                <span class="help-block" ng-show="!outerForm.importe.$pristine && outerForm.importe.$error.required">El campo importe es obligatorio</span>
                <span class="help-block" ng-show="!outerForm.importe.$pristine && outerForm.importe.$error.pattern">El campo importe no pueden ser letras</span>                
            </div>
        </div>

        <div class="control-group text-right">
            <div class="controls">
                <a class="btn btn-primary" ng-click="save()" ng-disabled="!outerForm.$valid">Guardar</a>
                <a class="btn btn-default" ng-click="plist()">Ir al listado de cuotas</a>
                <a class="btn btn-default" ng-click="close()">Cerrar</a>
            </div>
        </div>
    </form>
    <div ng-show="result != null">    
        <div class="alert alert-success" ng-show="result.status == 200">
            <h2>Se ha creado el registro</h2>
            <a ng-href="#/cuota/view/{{result.message}}">Ver el registro creado</a>
        </div>
        <div class="alert alert-danger" ng-show="result.status != 200">
            <h2>Error al crear el cuota: no se ha creado</h2>
            <h3>Código: {{result.status}}</h3>
            <h3>Mensaje: {{result.message}}</h3>             
        </div>
    </div>
</div>
<div class="panel-footer" style="font-family: Questrial, serif;" ng-include="'js/system/footer.html'"></div>
