
<div class="panel-heading" style="font-family:Oswald , serif;"  ng-include="'js/system/header.html'"></div>
<div class="panel-body">
    <div class="row-fluid">
        <div class="span6 offset3">                
            <table class="table table-striped table-condensed">
                <thead>                
                    <tr>    
                        <th>campo</th>
                        <th>valor</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr><td>id</td><td>{{bean.id}}</td></tr>       
                    <tr><td>Nombre</td><td>{{bean.nombre}}</td></tr> 
                    <tr><td>Dirección</td><td>{{bean.direccion}}</td></tr> 
                    <tr><td>CP</td><td>{{bean.cp}}</td></tr> 
                    <tr><td>Teléfono</td><td>{{bean.telefono}}</td></tr>
                    <tr>
                        
                        
                        
                        <td>Empresa</td>
                        <td>
                            
                            <a href="#/empresa/view/{{bean.obj_empresa.id}}">{{bean.obj_empresa.nombre}}</a>
                        </td>
                    </tr>     
                      <tr>
                        <td>Municipio</td>
                        <td>
                            <a href="#/municipio/view/{{bean.obj_municipio.id}}">{{bean.obj_municipio.nombre}}</a>
                        </td>
                    </tr>  
                       <tr>
                        <td>Sector</td>
                        <td>
                            <a href="#/sector/view/{{bean.obj_sector.id}}">{{bean.obj_sector.nombre}}</a>
                        </td>
                    </tr>  
                    
                  
    
                </tbody>
            </table>  
            <div class="text-right" > 
               
                <a class="btn btn-primary" href="#/centro/edit/{{bean.id}}">Editar</a>
                <a class="btn btn-danger" href="#/centro/remove/{{bean.id}}">Borrar</a>
                
                   <a class="btn btn-default" ng-click="plist()">Ir al listado de centros</a>
                <a class="btn btn-default" ng-click="close()">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" style="font-family: Questrial, serif;" ng-include="'js/system/footer.html'"></div>